    body {
        font-family: 'Merriweather', serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #fff;
        color: #333;
        text-align: center;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
    }

    .header__logo {
        width: 220px;
        height: 220px;
        margin-bottom: 20px;
    }

    .header__title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__subtitle {
        margin-top: 10px;
        font-size: 1.2rem;
        color: #666;
    }

    h1 {
        color: #333;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
        line-height: 1;
    }

    h2, h3 {
        color: #444;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 40px;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .nav {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav__button {
        font-family: 'Merriweather', serif;
        background-color: #444;
        color: white;
        border: none;
        padding: 10px 45px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bolder;
        text-decoration: none;
        margin-left: 10px;
    }

    .nav__button:hover {
        background-color: #555;
        text-decoration: underline;
        font-style: italic;
    }

    .main-content {
        max-width: 1200px;
        margin: 40px auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__title {
        color: #333;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .section__description {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .animal-cards-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .animal-card,
    .animal-card-no-mobile{
        margin: 20px;
        width: 300px;
    }

    .animal-card__image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease-in-out;
    }

    .animal-card__image:hover {
        transform: scale(1.05);
    }

    .animal-card__title {
        color: #555;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .animal-card__description {
        font-size: 1rem;
        color: #555;
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.8;
    }

    .aside {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 500px;
        margin-top: 70px;
    }


    .aside__title {
        font-size: 1.5rem;
        margin-bottom: 15px;
        color: #333;
    }

    .aside__list {
        list-style-position: inside;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        max-width: 400px;
    }

    .aside__list-item {
        font-size: 1rem;
        margin-bottom: 10px;
        white-space: nowrap;
    }
    .table-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .table-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        width: 100%;
        padding: 0;
    }

    .table-wrapper {
        width: 100%;
        overflow-x: auto;
    }

    .animal-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        min-width: 600px;
    }

    .animal-table thead,
    .animal-table tbody {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .animal-table tr {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .animal-table th,
    .animal-table td {
        flex: 1;
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
        box-sizing: border-box;
        min-width: 120px;
    }

    .animal-table td:nth-child(2) {
        min-width: 200px;
        word-wrap: break-word;
        white-space: normal;
    }

    .animal-table thead {
        background-color: #f0f0f0;
    }

    .animal-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .animal-table tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    .animal-table th {
        font-weight: bold;
        font-family: 'Roboto', serif;
    }

    .animal-table td {
        font-family: 'Roboto Light', serif;
    }

    @media screen and (max-width: 768px) {
        .animal-table {
            min-width: unset;
        }

        .animal-card-no-mobile{
            display: none;
        }

        .footer__quote{
            display: none;
        }
    }

    .footer {
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: #fff;
        font-size: 0.9rem;
        margin-top: 40px;
        border-top: 2px solid #444;
    }

    .footer__quote {
        text-decoration: line-through;
    }
